@media (max-width: 900px) {
    .wrapper {
        width: 72px;
    }
}

.wrapper {
    margin-bottom: 26px;
    overflow-x: hidden;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    perspective: 1px;
    transform-style: preserve-3d;
    perspective-origin: right top;
    top: calc(var(--default-layout-header-height) + 1px);
    bottom: 0;
    width: var(--width-sidebar);
    background: rgba(255, 255, 255, 0.1);
    position: fixed;
    padding-right: 8px;

    &::-webkit-scrollbar {
        display: none;
    }
    &::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 10px rgb(252, 248, 248);
    }
    &:hover {
        &::-webkit-scrollbar {
            display: block;
            width: 6px;
            height: 800px;
        }
    }
}
.wrapper.medium {
    width: 240px;
}
// sidebar login
.sidebar-login {
    border-top: 1px solid #e3e3e4;
    padding: 20px 0;
    margin: 10px 0;
}
.sidebar-login-text {
    color: rgba(22, 24, 35, 0.5);
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 20px;
}
.sidebar-login-btn {
    width: 100%;
    font-weight: 700;
}
.footer {
    width: 100%;
    font-size: 1.2rem;
    color: rgba(22, 24, 35, 0.01);
    line-height: 1.7rem;
    display: inline-block;
    margin-bottom: 12px;
    font-weight: 400;
    border-top: 1px solid #e3e3e4;
}
.footer-list {
    display: flex;
    margin-bottom: 8px;

    p {
        margin-right: 6px;
        margin-top: 5px;

        &:hover {
            text-decoration: underline;
        }
    }
}
.end {
    display: block;
    margin: 26px 0 16px;
    color: rgba(22, 24, 35, 0.5);
    font-weight: 600;
    font-size: 1.2rem;
}
