.wrapper {
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    min-height: 100vh;
}

.container {
    width: var(--default-layout-width);
    padding: 0 calc(var(--default-layout-horizontal-spacer) - 6px);
    max-width: 100%;
    margin-top: var(--default-layout-header-height);
    display: flex;
    justify-content: space-between;
    align-self: center;
    flex: auto;
}
.content {
    margin-left: calc(var(--width-sidebar) + 50px);
    // width: 692px;
    width: 100%;
    // max-width: 100%;
    padding: 24px 0;
    position: relative;
}
.content.medium {
    margin-left: 250px;
}
@media (max-width: 740px) {
    .content {
        margin-left: calc(var(--width-sidebar) + 50px);
    }
}
