.volume-control {
    width: 24px;
    height: 64px;
    // margin: 8px 7px 0px;
    display: block;
    position: relative;
    cursor: initial;
    background: rgba(221, 224, 238, 0.2);
    border-radius: 32px;
}
.volume-control-progress {
    width: 2px;
    height: 48px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 9px;
    top: 8px;
    bottom: 8px;
    cursor: pointer;
    border-radius: 4px;
}
.volume-control-circle {
    width: 12px;
    height: 12px;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    position: absolute;
    transform: scaleY(50%);
    left: 4px;
    bottom: 8px;
    cursor: pointer;
    z-index: 1;
}
.volume-control-bar {
    width: 2px;
    height: 48px;
    background-color: rgb(255, 255, 255);

    position: absolute;
    left: 9px;
    bottom: 8px;
    cursor: pointer;
    transform: scaleY(50%);
    transform-origin: center bottom;
    border-radius: 4px;
}
