// /////
.slider-count {
    // transform: rotate(-90deg);
    padding: 2px;
    background-color: rgba(221, 224, 238, 0.2);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider {
    position: relative;
    width: 120px;
    height: 20px;
}
.slider input {
    position: absolute;
    // left: -6px;
    // top: -8px;
    width: 212px;
    height: 20px;
    -webkit-appearance: none;
    background-color: transparent;
    z-index: 99;
}
.slider input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: white;
    // border: 2px solid #e91e63;
    border-radius: 50%;
    cursor: pointer;
}
.slider progress {
    width: 200px;
    height: 3px;
    -webkit-appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    overflow: hidden;
}
.slider progress::-webkit-progress-bar {
    background-color: #484242;
}
.slider progress::-webkit-progress-value {
    background-color: #f4eef0;
}
.sliderValue {
    color: white;
    width: 28px;
    height: 28px;
    margin-left: 10px;
    text-align: center;
}
