// /////
.slider-count {
    transform: rotate(-90deg);
    padding: 4px;
    background-color: rgba(221, 224, 238, 0.01);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider {
    position: relative;
    width: 90px;
    height: 20px;
}
.slider input {
    position: absolute;
    width: 86px;
    height: 20px;
    -webkit-appearance: none;
    background-color: transparent;
    z-index: 99;
}
.slider input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}
.slider progress {
    width: 86px;
    height: 3px;
    -webkit-appearance: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    // left: 0;
    border-radius: 10px;
    overflow: hidden;
}
.slider progress::-webkit-progress-bar {
    background-color: #484242;
}
.slider progress::-webkit-progress-value {
    background-color: #f4eef0;
}
.sliderValue {
    color: white;
    width: 28px;
    height: 28px;
    margin-left: 10px;
    text-align: center;
}
