.item-wrapper {
    // min-width: 20%;
    width: 25%;
    padding: 12px;

    border-radius: 6px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.item-video-body {
    width: 100%;
    background-color: white;
    position: relative;
}
.item-video {
    width: 100%;
    object-fit: cover;
    min-height: 330px;
}
.item-viewers {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 22px;
    font-weight: 600;
    color: white;
    left: 8px;
    line-height: 1.2rem;
}
.item-play-icon {
    color: rgb(235, 228, 232);
    font-size: 3rem;
}
.item-video-content {
    font-weight: 400;
    padding: 2px 4px 0px;
    height: 2.8rem;
    box-sizing: content-box;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
