.wrapper {
    padding: 32px 24px;
}
.info {
    display: flex;
    justify-content: space-between;
    min-height: 215px;
}
.header-info {
    display: flex;
}
.avatar {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-feature-settings: 'tnum';
    position: relative;
    overflow: hidden;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    line-height: 32px;
    border-radius: 50%;
    background-color: rgba(136, 136, 136, 0.5);
    border-color: rgba(22, 24, 35, 0.12);
    border-width: 0.5px;
    cursor: pointer;
}
.name-info {
    margin-left: 20px;
}
.nickname {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 3.2rem;
    padding-bottom: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    cursor: pointer;
}
.icon-tick {
    color: rgb(32, 213, 236);
}
.name {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.5rem;
    text-overflow: ellipsis;
    height: 25px;
    overflow: hidden;
    max-width: 450px;
    white-space: nowrap;
    display: flex;
    cursor: pointer;
}
.btn {
    width: 180px;
}
.like-count {
    display: flex;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 25px;
    margin: 24px 0 18px 0;
}
.like-text {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin: 0 10px 0 6px;
}
.link {
    font-weight: 700;
    font-size: 1.4rem;
    padding-top: 18px;

    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

.actions {
    font-size: 2.5rem;
    display: flex;
}
.actions-icon {
    margin: 0 14px;
    position: relative;

    &::after {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        width: 100px;
        height: 50px;
    }

    &:hover .actions-box-share {
        display: block;
    }
}
// report
.report {
    width: 180px;
    padding: 6px 12px;
    font-size: 1.8rem;
    // background-color: red;
    border-radius: 6px;
    position: absolute;
    right: 0;
    // border: 1px solid rgba(18, 18, 18, 0.12);
    box-shadow: 1px 0px 1px rgba(18, 18, 18, 0.5);

    div {
        display: flex;
        align-items: center;
        padding: 8px 0;
    }
}
.report-icon {
    margin-right: 4px;
}
.actions-box-share {
    position: absolute;
    right: 0;
    z-index: 1;
    display: none;
}
// body
.content {
    width: 100%;
    margin: 20px 0;
    height: auto;
}
.navbar {
    position: relative;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    display: flex;

    align-items: center;
    text-align: center;
    flex: 1;
    height: 44px;
    color: rgba(18, 18, 18, 0.5);
}
.active {
    color: #121212;
    border-bottom: 1px solid rgb(18, 18, 18);
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.navbar-item {
    flex: 1;
    cursor: pointer;
}
.navbar-item:hover {
    cursor: pointer;
    border-bottom: 1px solid rgba(18, 18, 18, 0.12);
}
.active:hover {
    cursor: pointer;
    border-bottom: 1px solid rgb(18, 18, 18);
}
.video-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -12px;
}
// linkend
.linked {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    margin: 0px auto;
    height: 35vh;
}
.icon-lock-linked {
    font-size: 5rem;
    color: rgba(22, 24, 35, 0.2);
}
.linked-text-big {
    font-size: 2.4rem;
    line-height: 2.8rem;
    font-weight: 700;
    color: rgb(22, 24, 35);
    margin-top: 24px;
}
.linked-text-small {
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: 400;
    color: rgba(22, 24, 35, 0.75);
    margin-top: 8px;
}
