.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body {
    width: 480px;
    height: 80%;
    max-height: 693px;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    position: relative;
    box-shadow: 0 1px 5px rgba(236, 94, 11, 0.5);
    margin: auto;
}
.back-icon {
    width: 40px;
    padding: 8px;
    height: 40px;
    margin: 4px 6px;
    color: rgba(0, 0, 0, 0.8);

    &:hover {
        cursor: pointer;
        color: rgba(0, 0, 0, 1);
        // background: rgba(22, 24, 35, 0.09);
    }
}
.home-hiden {
    display: none;
}
.content {
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: center;
}
.close-icon {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 40px;
    padding: 8px;
    height: 40px;
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.8);
    background: rgba(22, 24, 35, 0.03);
    text-align: center;
    line-height: 4rem;
    font-size: 1.2rem;
    z-index: 5;

    &:hover {
        cursor: pointer;
        color: rgba(0, 0, 0, 1);
        background: rgba(22, 24, 35, 0.09);
    }
}

.login-body {
    position: absolute;
    height: 80%;
    top: 44px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;

    &::-webkit-scrollbar {
        display: none;
    }
}
.title {
    font-size: 3.2rem;
    color: rgb(22, 24, 35);
    font-weight: bold;
    width: 100%;
    margin: 12px auto 0px;
    padding-bottom: 18px;
    text-align: center;
    // border-bottom: 1px solid rgba(22, 24, 35, 0.12);
}
.channel-item {
    color: rgb(22, 24, 35);
    font-weight: 600;
    border: 1px solid rgba(22, 24, 35, 0.12);
    font-size: 1.5rem;
    padding: 0 12px;
    display: flex;
    justify-content: center;
    height: 44px;
    position: relative;
    cursor: pointer;
    margin-bottom: 16px;
    width: 375px;
    line-height: 4.4rem;
    align-items: center;

    &:hover {
        background-color: rgba(22, 24, 35, 0.01);
    }
}
.chanel-icon {
    position: absolute;
    left: 12px;
    font-size: 2rem;
}
.facebook-icon {
    color: rgb(7, 152, 248);
}
.instagram-icon {
    color: rgb(238, 107, 20);
}

.switch {
    display: flex;
    justify-content: center;
    position: absolute;
    border-top: 1px solid rgba(22, 24, 35, 0.12);
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    line-height: 64px;
    height: 64px;
    overflow: hidden;
    background-color: white;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.switch-signup {
    color: var(--primary);
    margin-left: 5px;
    font-weight: 600;
    z-index: 20;
    background-color: white;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}
// sign up form
.signup-body {
    display: flex;
    flex-direction: column;
    width: 375px;

    position: relative;
    height: 100%;
}
.form {
    overflow: scroll;
    padding-bottom: 74px;
    &::-webkit-scrollbar {
        display: none;
    }
}

.div-label {
    height: 22px;
    color: rgb(22, 24, 35);
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;

    .email {
        color: rgba(22, 24, 35, 0.75);
        font-weight: 600;
        font-size: 1.2rem;
        display: inline-block;
    }
}
.div-label.birthday {
    color: rgba(22, 24, 35, 0.5);
    font-size: 1.4rem;
    line-height: 20px;
    // margin-bottom: 12px;
}
.div-form {
    display: flex;
    height: 44px;
    justify-content: space-between;
    margin: 9px 0 4px;
}
.div-form.border {
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 6px;
}

.box {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-right: 8px;
    padding: 6px 10px;
    border-radius: 6px;
    background-color: rgba(22, 24, 35, 0.06);
    // border: 1px solid rgba(22, 24, 35, 0.12);
}
.box.phone {
    margin: 0;
}
.area {
    font-size: 1.4rem;
    display: flex;
    width: 102px;
    justify-content: space-between;
    align-items: center;
    height: 28px;
    padding: 12px 12px 12px 8px;
    border-right: 1px solid rgba(22, 24, 35, 0.12);
}
.input {
    flex: 1;
    font-size: 1.6rem;
    font-weight: 400;
    height: 42px;
    padding: 0 12px;
    border-radius: 6px;
    background-color: #f1f1f2;
    caret-color: rgb(254, 44, 85);
}

.code-btn {
    font-weight: 600;
    margin: 0px;
    background-color: rgb(255, 255, 255);
    border-left: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 0px 6px 6px 0px;
    font-size: 1.6rem;
    padding: 0px 16px;
    height: 42px;
    color: rgba(22, 24, 35, 0.34);
    cursor: not-allowed;
}
.box.year {
    margin: 0;
}
.box-text {
    cursor: pointer;
}
.submit-btn {
    width: 100%;
    height: 46px;
    border-radius: 6px;
    color: rgba(22, 24, 35, 0.34);
    // pointer-events: none;
    font-size: 1.6rem;
    font-weight: 600;
    background-color: pink;
}

.signup-footer {
    position: absolute;
    bottom: 0px;
    background-color: white;
    font-size: 1.2rem;
    padding: 16px 0;
    text-align: center;
    color: rgba(22, 24, 35, 0.5);
    z-index: 10;

    span {
        color: rgb(22, 24, 35);
        margin: 0 4px;

        &:hover {
            text-decoration: underline;
        }
    }
}
.invalid {
    border-color: #f33a58 !important;
    color: red;
}
.form-message {
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding-left: 8px;
    color: #f33a58;
}
// tippy
.tippy-box {
    position: absolute;
    display: none;
    flex-direction: column;
    background-color: rgba(255, 350, 250);
    width: 120px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.03);
    overflow: scroll;
    height: 180px;
    top: 120%;
    left: -4px;
    z-index: 2;
    border-radius: 6px;
}
.box-active {
    display: flex;
}
.tippy-month {
    height: 3.4rem;
    cursor: pointer;
    padding: 6px 12px;
    color: rgb(22, 24, 35);
    border-radius: 6px;

    &:hover {
        background-color: rgba(0, 0, 0, 0.03);
    }
}
.input-date {
    // background-color: red;
    color: green;
}
